/Pathway.Vertex.json.gz
/Interaction.Vertex.json.gz
/Gene_InteractionInput_Interaction.Edge.json.gz
/Gene_Pathways_Pathway.Edge.json.gz
/Interaction_InteractionOutput_Gene.Edge.json.gz
/Interaction_Pathways_Pathway.Edge.json.gz
/Interaction_Publications_Publication.Edge.json.gz
/Pathway_Genes_Gene.Edge.json.gz
/Pathway_Interactions_Interaction.Edge.json.gz
/Publication_Interactions_Interaction.Edge.json.gz
