/annotations.zip
/automated_annotations.zip
/chemicals.zip
/drugLabels.zip
/drugs.zip
/genes.zip
/pathways-biopax.zip
/phenotypes.zip
/relationships.zip
/variants.zip
/work.sqlite
/clinicalVariants.zip
