/normalized.Compound.Vertex.json.gz
/normalized.HasEnvironment.Edge.json.gz
/normalized.ResponseTo.Edge.json.gz
/normalized.TreatedWith.Edge.json.gz
/normalized.TestedIn.Edge.json.gz
/normalized.DrugResponse_Compounds_Compound.Edge.json.gz
/normalized.Compound_DrugResponses_DrugResponse.Edge.json.gz
/normalized.Project_Compounds_Compound.Edge.json.gz
/normalized.Compound_Projects_Project.Edge.json.gz
/normalized.Compound_Cases_Case.Edge.json.gz
/normalized.Case_Compounds_Compound.Edge.json.gz
/normalized.G2PAssociation_Compounds_Compound.Edge.json.gz
/normalized.Compound_G2PAssociations_G2PAssociation.Edge.json.gz
