/refsnp_requests_cache.sqlite
/pharmgkb_haplotype_requests_cache.sqlite
/pharmgkb_variant_requests_cache.sqlite
/*.bak
/Allele.Vertex.json.gz
/Allele_G2PAssociations_G2PAssociation.Edge.json.gz
/Allele_Gene_Gene.Edge.json.gz
/Compound.Vertex.json.gz
/Compound_G2PAssociations_G2PAssociation.Edge.json.gz
/G2PAssociation.Vertex.json.gz
/G2PAssociation_Alleles_Allele.Edge.json.gz
/G2PAssociation_Compounds_Compound.Edge.json.gz
/G2PAssociation_Genes_Gene.Edge.json.gz
/G2PAssociation_GenomicFeatures_GenomicFeature.Edge.json.gz
/G2PAssociation_Phenotypes_Phenotype.Edge.json.gz
/G2PAssociation_Publications_Publication.Edge.json.gz
/Gene_Alleles_Allele.Edge.json.gz
/Gene_G2PAssociations_G2PAssociation.Edge.json.gz
/GenomicFeature.Vertex.json.gz
/GenomicFeature_G2PAssociations_G2PAssociation.Edge.json.gz
/Phenotype.Vertex.json.gz
/Phenotype_G2PAssociations_G2PAssociation.Edge.json.gz
/Publication.Vertex.json.gz
/Publication_G2PAssociations_G2PAssociation.Edge.json.gz
