/Project.Vertex.json.gz
/Program.Vertex.json.gz
/InProgram.Edge.json.gz
/Aliquot.Vertex.json.gz
/AliquotFor.Edge.json.gz
/Biosample.Vertex.json.gz
/BiosampleFor.Edge.json.gz
/Compound.Vertex.json.gz
/InProject.Edge.json.gz
/Case.Vertex.json.gz
/TreatedWith.Edge.json.gz
/Sample.Vertex.json.gz
/SampleFor.Edge.json.gz
/programs.Edge.json.gz
/projects.Edge.json.gz
/case.Edge.json.gz
/sample.Edge.json.gz
/samples.Edge.json.gz
/aliquots.Edge.json.gz
/cases.Edge.json.gz

/gdc.Compound.Vertex.json.gz
/gdc.compounds.Edge.json.gz
/gdc.cases.Edge.json.gz
/gdc.projects.Edge.json.gz
/Project_Programs_Program.Edge.json.gz
/Program_Projects_Project.Edge.json.gz
/Case_Projects_Project.Edge.json.gz
/Project_Cases_Case.Edge.json.gz
/Sample_Case_Case.Edge.json.gz
/Case_Samples_Sample.Edge.json.gz
/Aliquot_Sample_Sample.Edge.json.gz
/Sample_Aliquots_Aliquot.Edge.json.gz
/gdc.Case_Compounds_Compound.Edge.json.gz
/gdc.Compound_Cases_Case.Edge.json.gz
/gdc.Compound_Projects_Project.Edge.json.gz
/gdc.Project_Compounds_Compound.Edge.json.gz
