# Python temps
__pycache__/
*.py[cod]
*$py.class
build/
dist/
eggs/
.eggs/
*.egg-info/
*.egg
.tox/
.mypy_cache/

# Editor Temps
.*.sw?
*~
\#*\#
.desktop

*venv*

*.Vertex.json
*.Edge.json
*.sqlite
.coverage

.cache/
.pytest_cache/
# ignore all vertex and edge files
outputs/**/*Vertex.json*
outputs/**/*Edge.json*
outputs/allele/sqlite.db
!tests/unit/**/outputs/**/*.json*

# ignore everything except markdown documents in source
source/**/*.*
!source/**/version.txt
!source/**/*.md
!source/**/*.dvc
!source/**/.gitignore
!source/phenotype_enricher/disease_alias.tsv
!source/drug_enricher/drug_alias.tsv
!source/pharmacodb/extract_data.sh
!source/pharmacodb/tables_to_csv.py
!source/pharmacodb/pharmacodb.yaml
!source/pathway_commons/pc_download.sh
!source/prism/prism_download.sh

tests/unit/allele/source/myvariantinfo/sqlite.db
tests/unit/compound/source/compound/sqlite.db
tests/unit/phenotype/source/phenotype/sqlite.db
tests/unit/*/test/*

.DS_Store
