# Python temps
__pycache__/
*.py[cod]
*$py.class
build/
dist/
eggs/
.eggs/
*.egg-info/
*.egg
.tox/
.mypy_cache/

# Editor Temps
.*.sw?
*~
\#*\#
.desktop

*venv*

*.Vertex.json
*.Edge.json
*.sqlite
.coverage

.cache/
.pytest_cache/
/outputs

# ignore everything except markdown documents in source
source/**/*.*
!source/*/version.txt
!source/**/*.md
!source/**/*.dvc
!source/**/.gitignore
!source/phenotype_enricher/disease_alias.tsv
!source/drug_enricher/drug_alias.tsv
tests/unit/allele/source/myvariantinfo/sqlite.db
!tests/unit/mc3/outputs/**/*.json
tests/unit/compound/source/compound/sqlite.db
!tests/unit/compound/source/compound/README.md

!tests/unit/compound/source/*/*.json
!tests/unit/compound/outputs/**/*.*

!tests/unit/phenotype/source/*/*.json
!tests/unit/phenotype/outputs/**/*.*

.DS_Store
tests/unit/*/test/*.json.gz
