[submodule "tools/vcf2maf-tools"]
	path = tools/vcf2maf-tools
	url = https://github.com/OpenGenomics/vcf2maf-tools.git
[submodule "src/bmeg/bmeg-dictionary"]
	path = src/bmeg/bmeg-dictionary
	url = https://github.com/bmeg/bmeg-dictionary.git
