flake8
pytest==3.6.3
pandas==0.23.3
mygene==3.0.0
myvariant==0.3.1
requests>=2.20.0
requests-cache==0.4.13
pytest-cov==2.5.1
more-itertools==4.2.0
# grip
git+https://github.com/bmeg/grip.git#subdirectory=gripql/python
# faster json
ijson==2.3
ujson==1.35
# dataclass serialization
dacite==0.0.16
pydash==4.7.3
xlrd==1.2.0
jsonschema==3.0.1
dictionaryutils==2.0.7
dvc>=0.50.1
inflection==0.3.1
networkx==2.2
matplotlib==3.1.0
jsonschema==3.0.1
