-e git+git@github.com:bmeg/bmeg-etl.git@3a8f7a128c0f5c877a642e326351f832440c4cb6#egg=bmeg
bson==0.5.6
certifi==2018.4.16
chardet==3.0.4
dataclasses==0.6
idna==2.7
msgpack==0.5.6
mygene==3.0.0
python-dateutil==2.7.3
requests==2.19.1
requests-cache==0.4.13
six==1.11.0
urllib3==1.23
