/Protein.Vertex.json.gz
/ProteinFor.Edge.json.gz
/Exon.Vertex.json.gz
/ExonFor.Edge.json.gz
/Gene.Vertex.json.gz
/Transcript.Vertex.json.gz
/TranscriptFor.Edge.json.gz
/transcript.Edge.json.gz
/transcripts.Edge.json.gz
/exons.Edge.json.gz
/gene.Edge.json.gz
/Transcript_Protein_Protein.Edge.json.gz
/Protein_Transcript_Transcript.Edge.json.gz
/Transcript_Exons_Exon.Edge.json.gz
/Exon_Transcripts_Transcript.Edge.json.gz
/Gene_Transcripts_Transcript.Edge.json.gz
/Transcript_Gene_Gene.Edge.json.gz
