/ProteinStructure.Vertex.json.gz
/PFAMAlignment.Edge.json.gz
/StructureFor.Edge.json.gz


/PfamClan.Vertex.json.gz
/PfamFamily.Vertex.json.gz
/pfam_families.Edge.json.gz
/pfam_clans.Edge.json.gz
/gene_ontology_terms.Edge.json.gz
/toproteins.ProteinStructure.Vertex.json.gz
/toproteins.pfam_families.Edge.json.gz
/toproteins.protein_structures.Edge.json.gz
/toproteins.proteins.Edge.json.gz
/toproteins.protein.Edge.json.gz
/PfamClan_PfamFamilies_PfamFamily.Edge.json.gz
/PfamFamily_PfamClans_PfamClan.Edge.json.gz
/GeneOntologyTerm_PfamFamilies_PfamFamily.Edge.json.gz
/PfamFamily_GeneOntologyTerms_GeneOntologyTerm.Edge.json.gz
/Protein_PfamFamilies_PfamFamily.Edge.json.gz
/PfamFamily_Proteins_Protein.Edge.json.gz
/Protein_ProteinStructures_ProteinStructure.Edge.json.gz
/ProteinStructure_Protein_Protein.Edge.json.gz
