pytest==3.6.3
pandas==0.23.3
mygene==3.0.0
myvariant==0.3.1
requests==2.19.1
requests-cache==0.4.13
# -e git+git@github.com:bmeg/bmeg-etl.git@33e27b25f603ef8847b089415c949ada1332a648#egg=bmeg_etl
pytest-cov==2.5.1
flake8
more-itertools==4.2.0
