/Compound.Vertex.json.gz
/DrugResponse.Vertex.json.gz
/Aliquot_DrugResponse_DrugResponse.Edge.json.gz
/DrugResponse_Aliquot_Aliquot.Edge.json.gz
/DrugResponse_Compounds_Compound.Edge.json.gz
/Compound_DrugResponses_DrugResponse.Edge.json.gz
/Project_Compounds_Compound.Edge.json.gz
/Compound_Projects_Project.Edge.json.gz
