/Allele.Vertex.json.gz
/AlleleIn.Edge.json.gz
/Compound.Vertex.json.gz
/Deadletter.Vertex.json.gz
/G2PAssociation.Vertex.json.gz
/HasAlleleFeature.Edge.json.gz
/HasEnvironment.Edge.json.gz
/HasGeneFeature.Edge.json.gz
/HasMinimalAlleleFeature.Edge.json.gz
/HasPhenotype.Edge.json.gz
/HasSupportingReference.Edge.json.gz
/MinimalAllele.Vertex.json.gz
/MinimalAlleleIn.Edge.json.gz
/Phenotype.Vertex.json.gz
/GenomicFeature.Vertex.json.gz
/G2PAssociation_Alleles_Allele.Edge.json.gz
/Allele_G2PAssociations_G2PAssociation.Edge.json.gz
/G2PAssociation_Compounds_Compound.Edge.json.gz
/Compound_G2PAssociations_G2PAssociation.Edge.json.gz
/G2PAssociation_Genes_Gene.Edge.json.gz
/Gene_G2PAssociations_G2PAssociation.Edge.json.gz
/G2PAssociation_GenomicFeatures_GenomicFeature.Edge.json.gz
/GenomicFeature_G2PAssociations_G2PAssociation.Edge.json.gz
/G2PAssociation_Phenotypes_Phenotype.Edge.json.gz
/Phenotype_G2PAssociations_G2PAssociation.Edge.json.gz
/G2PAssociation_Publications_Publication.Edge.json.gz
/Publication_G2PAssociations_G2PAssociation.Edge.json.gz
/Allele_Gene_Gene.Edge.json.gz
/Gene_Alleles_Allele.Edge.json.gz
