/cell_tissues.csv
/cellosaurus.csv
/cells.csv
/dataset_cells.csv
/datasets.csv
/dose_responses.csv
/drug_annots.csv
/drugs.csv
/experiments.csv
/profiles.csv
/source_cell_names.csv
/source_drug_names.csv
/source_statistics.csv
/source_tissue_names.csv
/sources.csv
/tissues.csv
