/*/

/DepMap-2018q4-celllines.csv
/CCLE_NP24.2009_Drug_data_2015.02.24.csv
/CCLE_depMap_19Q1_TPM.csv
/CCLE_depMap_19Q1_TPM_transcripts.csv
/DepMap-2019q1-celllines.csv_v2.csv
/cellline_lookup.pickle
/cellline_project_lookup.pickle
/cellline_lookup.tsv
/cellline_project_lookup.tsv
/cellline_phenotype_lookup.tsv