/gdsc.Compound.Vertex.json.gz
/gdsc.DrugResponse.Vertex.json.gz
/gdsc.ResponseIn.Edge.json.gz
/gdsc.ResponseTo.Edge.json.gz
/gdsc.Project.Vertex.json.gz
/gdsc.InProject.Edge.json.gz
/gdsc.Program.Vertex.json.gz
/gdsc.InProgram.Edge.json.gz
/gdsc.AliquotFor.Edge.json.gz
/gdsc.Aliquot.Vertex.json.gz
/gdsc.SampleFor.Edge.json.gz
/gdsc.Sample.Vertex.json.gz
/gdsc.Case.Vertex.json.gz
/gdsc.Phenotype.Vertex.json.gz
/gdsc.PhenotypeOf.Edge.json.gz
/gdsc.TestedIn.Edge.json.gz
/gdsc.programs.Edge.json.gz
/gdsc.projects.Edge.json.gz
/gdsc.case.Edge.json.gz
/gdsc.sample.Edge.json.gz
/gdsc.samples.Edge.json.gz
/gdsc.aliquots.Edge.json.gz
/drug_response.Compound.Vertex.json.gz
/drug_response.DrugResponse.Vertex.json.gz
/drug_response.aliquot.Edge.json.gz
/drug_response.drug_response.Edge.json.gz
/drug_response.drug_responses.Edge.json.gz
/drug_response.compounds.Edge.json.gz
/drug_response.projects.Edge.json.gz
/gdsc.phenotypes.Edge.json.gz
/gdsc.cases.Edge.json.gz
/gdsc.Project_Programs_Program.Edge.json.gz
/gdsc.Program_Projects_Project.Edge.json.gz
/gdsc.Case_Projects_Project.Edge.json.gz
/gdsc.Project_Cases_Case.Edge.json.gz
/gdsc.Sample_Case_Case.Edge.json.gz
/gdsc.Case_Samples_Sample.Edge.json.gz
/gdsc.Aliquot_Sample_Sample.Edge.json.gz
/gdsc.Sample_Aliquots_Aliquot.Edge.json.gz
/gdsc.Case_Phenotypes_Phenotype.Edge.json.gz
/gdsc.Phenotype_Cases_Case.Edge.json.gz
/gdsc.Sample_Phenotypes_Phenotype.Edge.json.gz
/gdsc.Phenotype_Samples_Sample.Edge.json.gz
/drug_response.Aliquot_DrugResponse_DrugResponse.Edge.json.gz
/drug_response.DrugResponse_Aliquot_Aliquot.Edge.json.gz
/drug_response.DrugResponse_Compounds_Compound.Edge.json.gz
/drug_response.Compound_DrugResponses_DrugResponse.Edge.json.gz
/drug_response.Project_Compounds_Compound.Edge.json.gz
/drug_response.Compound_Projects_Project.Edge.json.gz
