/Allele.Vertex.json.gz
/Callset.Vertex.json.gz
/Deadletter.Vertex.json.gz
/callsets.Edge.json.gz
/aliquots.Edge.json.gz
/alleles.Edge.json.gz
/gene.Edge.json.gz
/SomaticCallset.Vertex.json.gz
/Aliquot_SomaticCallsets_SomaticCallset.Edge.json.gz
/SomaticCallset_Aliquots_Aliquot.Edge.json.gz
/SomaticCallset_Alleles_Allele.Edge.json.gz
/Allele_SomaticCallsets_SomaticCallset.Edge.json.gz
/Allele_Gene_Gene.Edge.json.gz
/Gene_Alleles_Allele.Edge.json.gz
