/GeneOntologyAnnotation.Edge.json.gz
/GeneOntologyIsA.Edge.json.gz
/GeneOntologyTerm.Vertex.json.gz
/child_terms.Edge.json.gz
/parent_terms.Edge.json.gz
/genes.Edge.json.gz
/gene_ontology_terms.Edge.json.gz
/GeneOntologyTerm_ChildTerms_GeneOntologyTerm.Edge.json.gz
/GeneOntologyTerm_ParentTerms_GeneOntologyTerm.Edge.json.gz
/GeneOntologyTerm_Genes_Gene.Edge.json.gz
/Gene_GeneOntologyTerms_GeneOntologyTerm.Edge.json.gz
